$font-body: "Comic Sans", sans-serif;
$color-primary:rgb(57,65,102);
$color-secondary:rgb(26,185,241);
*{
margin: auto;
max-width: 768px;
padding: 0;
box-sizing: border-box;
background-color: rgb(250, 250, 248);
}