@use "./challenge-2-variables" as *;
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    max-width: 768px;
    padding: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.navigation {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    .login-button {
        display: block;
        width: 100px;
        border: solid;
        text-align: center;
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
        color: $color-primary;
    }
    .Page-Name{
        display: block;
        width: 100px;
        border: solid;
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
        color: $color-primary; 
    }
}
.div{
    border:20px 20px 20px 20px;
}
.subheading{
    text-align: center;
    color: $color-primary;
}
.Button {
    display: block;
    width: 33%;
    background-color: $color-primary;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.card-left {
    width: 100%;
    height: auto;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    color: midnightblue;
    .card-left img{
        text-align: left;
    }
}
.card-right{
    width: 100%;
    height: auto;
    border-radius: 5px;
    text-align: right;
    padding: 20px;
    color: midnightblue;
}
.CTA{
    color: $color-secondary;
    text-align: center;
}